body {
	background-image: url("../images/DisneyBackground2.jpg");
}

.container {
	border: 2px black solid;
	width: 60%;
	margin: 50px auto;
	padding: 40px;
	background-color: #A69851;
	min-height: 640px;
}

h2 {
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
}

h1 {
	font-size: 50px;
	text-align: center;
	padding: 10px;
	color: white;
	border: 3px white solid;
	background-color: blue;
}

.questionText {
	width: 90%;
	background-color: pink;
	margin: 30px auto;
	border: 3px white solid;
	font-size: 30px;
	text-align: center;
	color: white;
	padding: 40px 10px;
}

button {
	width: 90%;
	background-color: #3631A2;
	margin: 20px auto;
	display: block;
	border: 3px white solid;
	font-size: 30px;
	text-align: center;
	color: white;
	padding: 5px;
	min-height: 51px;
}

#startButton, 
#resetButton {
	background-color: pink;
	width: 50%;
}

#startPage {
	display: block;
}

.questions-group,
.answerSheet, 
.imageSheet,
#endPage,
#timeOutPage,
#rightAnswerPage,
#wrongAnswerPage,
#triviaPage {
	display: none;
}

#wrongAnswerPage,
#timeOutPage,
#results, 
#endPage,
#rightAnswerPage {
	display: none;
}

	/*width: 90%;
	margin: 30px auto;
	border: 3px white solid;
	font-size: 30px;
	text-align: center;
	color: white;
	padding: 10px;
	min-height: 80px;
}
*/


.paragraphs {
	width: 90%;
	margin: 20px auto 0 auto;
	border: 3px white solid;
	font-size: 30px;
	text-align: center;
	color: white;
	padding: 20px 10px;
}

img {
	border: 3px white solid;
	max-width: 300px;
	max-height: 300px;
	display: block;
	margin: 30px auto;
}

#wrongAnswerPage .paragraphs {
	background-color: red;
}

#rightAnswerPage .paragraphs {
	background-color: green;
}

#timeOutPage .paragraphs {
	background-color: orange;
}

#results .paragraphs {
	background-color: blue;
}

#endPage .paragraphs {
	background-color: violet;
}


.paragraphs p {
	text-align: center;
	font-size: 30px;

}




