html {
	font-family: 'Oswald', sans-serif;
}

body {
	height: 100%;
	background-image: url("../images/background2.png");
	position: relative;
}

header {
	width: calc(100%-40px);
    min-height: 80px;
   	background-color: #328CC1;
    font-size: 50px;
}

h1 {
	text-align: center;
	margin: 15px 0;

}
		
.container {
	position: relative;
	width: 60%;
	margin: 50px auto;
	padding: 40px;
	padding-bottom: 0;
	min-height: 640px;
	background-image: url("../images/castleImage.jpg");
	background-repeat: no-repeat;
	background-position: -184px 100%;
	background-color: #F4F4EC;
}

h2 {
	font-size: 30px;
	text-align: center;
	margin: 25px 0;
}

.questionText {
	width: 90%;
	margin: 0px auto;
	font-size: 30px;
	text-align: center;
	color: #1F2E41;
	padding: 40px 10px;
	border-radius: 8px;
}

button {
	width: 70%;
	background-color: #797F8D;
	margin: 20px auto;
	display: block;
	font-size: 30px;
	text-align: center;
	color: white;
	padding: 10px;
	min-height: 51px;
	border-radius: 8px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	font-family: 'Oswald', sans-serif;
}

button:hover {
	background-image: url("../images/DisneyBackground2.jpg");
}

#startButton, 
#resetButton {
	background-color: #D9B310;
	width: 45%;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#startButton:hover,
#resetButton:hover {
	background-color: white;
}

#startPage {
	display: block;
}

.questions-group,
.answerSheet, 
.imageSheet,
#endPage,
#timeOutPage,
#rightAnswerPage,
#wrongAnswerPage,
#triviaPage {
	display: none;
}

#wrongAnswerPage,
#timeOutPage,
#results, 
#endPage,
#rightAnswerPage {
	display: none;
}

	/*width: 90%;
	margin: 30px auto;
	border: 3px white solid;
	font-size: 30px;
	text-align: center;
	color: white;
	padding: 10px;
	min-height: 80px;
}
*/


.paragraphs {
	width: 90%;
	margin: 20px auto 0 auto;
	font-size: 30px;
	text-align: center;
	padding: 20px 10px;
	border-radius: 8px;
}

img {
	border: 5px #328CC1 solid;
	width: 300px;
	height: 300px;
	display: block;
	margin: 30px auto;
	border-radius: 8px;
}

#wrongAnswerPage .paragraphs {
	color: #8B0000;
}

#rightAnswerPage .paragraphs {
	color: #006400;
}

#timeOutPage .paragraphs {
	color: #B8860B;
}

#endPage .paragraphs {
	color: #083C5D;
}

.paragraphs p {
	text-align: center;
	font-size: 30px;
}

#startPage p {
	text-align: center;
	font-size: 30px;
	width: 90%;
	margin: 0px auto;
	font-size: 30px;
	text-align: center;
	color: #1F2E41;
	padding: 40px 10px;
	border-radius: 8px;
}

#startPage p {
	text-align: center;
	margin: 20px;
	font-size: 30px;
	color: #1F2E41;
}

.timeRecording {
	width: 30%;
	height: 100%;
	float: right;
	background-color: #083C5D;
	color: white;
		border-left: 3px white solid;

}

.title {
font-family: 'Marmelad', sans-serif;
	width: 30%;
	height: 100%;
	float: left;
	background-color: #328CC1;
	color: white;
}


.questionCounter {
	margin-top: 60px;
	color: #D9B310;
	text-align: center;
	font-size: 30px;
}

/*prussian blue
#083C5D

sky blue
#328CC1

gold leaf
#D9B310

ivory black
#1D2731*/



