body {
	background-image: url("../images/background2.png");
}

.container {
	width: 60%;
	margin: 50px auto;
	padding: 40px;
	padding-bottom: 0;
	background-color: #A69851;
	min-height: 640px;
	background-image: url("../images/castleImage.jpg");
	background-repeat: no-repeat;
	background-position: -184px 100%;
	background-color: #F4F4EC;
}

h2 {
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
}

h1 {
	font-size: 50px;
	text-align: center;
	padding: 10px;
	color: white;
	border: 3px white solid;
	background-color: blue;
}

.questionText {
	width: 90%;
	margin: 30px auto;
	font-size: 30px;
	text-align: center;
	color: #1F2E41;
	padding: 40px 10px;
	border-radius: 8px;
}

button {
	width: 80%;
	background-color: #797F8D;
	margin: 20px auto;
	display: block;
	border: 3px white solid;
	font-size: 30px;
	text-align: center;
	color: white;
	padding: 5px;
	min-height: 51px;
	border-radius: 8px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
	background-color: white;
    color: #3631A2;
}

#startButton, 
#resetButton {
	background-color: pink;
	width: 50%;
	border-radius: 8px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#startButton:hover,
#resetButton:hover {
	background-color: white;
    color: pink;
}

#startPage {
	display: block;
}

.questions-group,
.answerSheet, 
.imageSheet,
#endPage,
#timeOutPage,
#rightAnswerPage,
#wrongAnswerPage,
#triviaPage {
	display: none;
}

#wrongAnswerPage,
#timeOutPage,
#results, 
#endPage,
#rightAnswerPage {
	display: none;
}

	/*width: 90%;
	margin: 30px auto;
	border: 3px white solid;
	font-size: 30px;
	text-align: center;
	color: white;
	padding: 10px;
	min-height: 80px;
}
*/


.paragraphs {
	width: 90%;
	margin: 20px auto 0 auto;
	border: 3px white solid;
	font-size: 30px;
	text-align: center;
	color: white;
	padding: 20px 10px;
	border-radius: 8px;
}

img {
	border: 3px white solid;
	width: 300px;
	height: 300px;
	display: block;
	margin: 30px auto;
	border-radius: 8px;
}

#wrongAnswerPage .paragraphs {
	background-color: red;
}

#rightAnswerPage .paragraphs {
	background-color: green;
}

#timeOutPage .paragraphs {
	background-color: orange;
}

#results .paragraphs {
	background-color: blue;
}

#endPage .paragraphs {
	background-color: violet;
}


.paragraphs p {
	text-align: center;
	font-size: 30px;

}




